* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Crete Round', serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  background: #42A5F5;
  border-bottom: 12px solid #1875d27a;
}

.badge-container {
  width: 165px;
  height: 165px;
  margin: 15px 0 15px 15px;
  padding: 4px;
  background: #1876D2;
  border-radius: 50%;
}

.badge {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  background: #1876D2;
  border: 2px dashed white;
  border-radius: 50%;
}

.title {
  margin: 0 12px 0 0;
  line-height: 48px;
  font-size: 42px;
  transform: rotate(-10deg) skew(-15deg);
}

.tag-and-nav {
  flex: 1;
  position: relative;
}

.tagline {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #1875d257;
  font-size: 105px;
}

nav {
  position: absolute;
  display: flex;
  width: 100%;
  /* background: #3495E9; */
  justify-content: flex-end;
  /* padding: 3px 0; */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  z-index: 1;
}

.links {
  display: flex;
  width: 62%;
  justify-content: space-around;
  /* padding: 0 100px; */
}

nav a:nth-child(1) {
  color: hotpink;
}

.landing-container {
  background: #3495E9;
}


.landing {
  width: 100%;
  height: 100vh;
  background: white;
  /* border: 7px solid #3495E9; */
  /* border-radius: 15px; */
}